@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #151515;
}

.container {
  max-width: 70rem;
  padding: 0 2rem;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 25;
}

.mountain1, .mountain2, .mountain3, .sky, .person {
  position: absolute;
  bottom: 0;
}

.mountain1 {
  width: 1500px;
  right: 0;
  z-index: 19;
}

.mountain2 {
  width: 1100px;
  left: 0;
  z-index: 18;
}

.mountain3 {
  width: 900px;
  bottom: 150px;
  right: 0;
  z-index: 17;
}

.sky {
  width: 2100px;
  bottom: 250px;
  right: 0;
}

.person {
  width: 650px;
  left: -70px;
  z-index: 20;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 30;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #e7ddd3;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.hamburger-menu {
  width: 1.55rem;
  height: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  position: relative;
  width: 1.2rem;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

.bar::before, .bar::after {
  content: '';
  position: absolute;
  width: 1.55rem;
  height: 3px;
  right: 0;
  background-color: #fff;
  border-radius: 2px;
}

.bar::before { transform: translateY(-8px); }
.bar::after  { transform: translateY(8px); }

.big-title {
  position: absolute;
  z-index: 30;
  line-height: 4rem;
  top: calc(50% - 2rem);
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  color: #ffffff;
}

section {
  width: 100%;
  background-color: #151515;
  position: relative;
}

section .container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

section img {
  width: 100%;
  max-width: 100%;
}

section .container > * {
  margin: 2rem;
}

.content {
  color: #fff;
  transform: translateY(-50px);
}

.imgContainer {
  transform: translateY(50px);
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  position: relative;
}

.border {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.text {
  font-size: 1rem;
}

.shadow {
  position: absolute;
  bottom: 100%;
  height: 300px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, #151515, transparent);
}

.opacity {
  opacity: 0;
}

/* Download Button */
.button {
  --width: 100%;
  --height: 50px;
  --tooltip-height: 35px;
  --tooltip-width: 110px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #1163ff;
  --tooltip-color: #222;

  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
  margin-top: 2rem;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::before, .button::after {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.button-wrapper, .text, .icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  transition: top 0.5s;
}

.icon {
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.5s;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #6c18ff;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover::before,
.button:hover::after {
  opacity: 1;
  visibility: visible;
}

.button:hover::after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover::before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

@media (max-width: 850px) {
  section .container {
    grid-template-columns: 1fr;
  }

  .imgContainer {
    transform: translateY(0);
    text-align: center;
  }

  .imgContainer img {
    width: 80%;
    margin: 0 auto;
  }

  .big-title {
    font-size: 3rem;
  }
}
